@import '../common/variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $carbon-black;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 30px 30px 0;
  overflow-x: hidden;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 40px 40px 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 80px 80px 0;
  }
}

.wrap {
  width: 100%;
  height: 100vh;
  // background-image: url('/images/hero-new.png');
  // background-image: linear-gradient(rgba(46, 47, 66, 0), rgba(46, 47, 66, 0.7)), url('/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 14px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec {
  height: 100vh;
}
