//? Colors
$white: #fff;
$yellow-push: #fffc8d;
$yellow-light: #fffcb9;
$carbon-black: #2c3030;
$bright-grey: #ededed;
$dark-grey: #868686;

//? Breakpoints
$mobile: 320px;
// $mobile-max: 520px;
$tablet: 768px;
$desktop: 1440px;

//? Transitions
$dur-primary: 300ms;
$dur-secondary: 150ms;
