.advart__title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.advart__list {
  font-size: 24px;
}

.advart__list-item {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 20px;

  &:nth-child(even) {
    background-color: $bright-grey;
  }
}

// .advart__list-item:nth-child(even) {
//   background-color: $bright-grey;
// }
