.advart__title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.accordion {
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    padding: 0 100px;
  }
}

.accordion__header {
  width: 100%;
  padding: 1rem;
  text-align: left;
  background-color: #f7f7f7;
  color: $carbon-black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  position: relative;
  margin-top: 5px;
  border-radius: 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.icon-open {
  display: none;
}

.accordion__header.active .icon-closed {
  display: none;
}

.accordion__header.active .icon-open {
  display: block;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 1rem;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.accordion__content p {
  margin: 1rem 0;
}

.icon-open,
.icon-closed {
  width: 38px;
  height: 38px;
}
