.advart__title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.advart__list {
  font-size: 22px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.advart__list-item {
  margin: 0 auto;
  //   max- width: 800px;
  padding: 20px;
  width: 400px;
  border-radius: 14px;
  //   height: 100px;
  background-color: $yellow-light;

  //   &:nth-child(even) {
  //     background-color: $bright-grey;
  //   }
}

// .advart__list-item:nth-child(even) {
//   background-color: $bright-grey;
// }

.accordion {
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
  overflow: hidden;
  // padding: 0 20px;

  @media screen and (min-width: $tablet) {
    padding: 0 100px;
  }
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  width: 100%;
  padding: 1rem;
  text-align: left;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  position: relative;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.accordion-header::after {
  content: '\25BC';
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.3s ease;
}

.accordion-header.active::after {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 1rem;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.accordion-content p {
  margin: 1rem 0;
}
