.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding-bottom: 40px;

  @media screen and (min-width: $desktop) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer-list {
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @media screen and (min-width: $tablet) {
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer-list-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & li {
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.footer-list-address {
  color: $dark-grey;
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: $dark-grey;
}

.footer-text {
  font-size: 26px;
  font-weight: 600;
}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__social-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  fill: aqua;
  color: aqua;

  transition: all $dur-primary;

  &:hover {
    background-color: $carbon-black;
  }
}

.modal__social-img.footer-social {
  width: 50px;
  height: 50px;
}
