.header {
  display: flex;
  align-items: center;

  padding: 14px 34px;
  border-radius: 14px;
  background-color: $yellow-push;
}

.nav {
  margin-left: auto;
  margin-right: auto;
}

.nav__img {
  width: 110px;
  height: 40px;
}

.nav__menu {
  height: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
}

.item a {
  font-size: 18px;
  font-weight: 600;
  color: #2c3030;

  transition: all $dur-primary;

  &:hover {
    color: $dark-grey;
  }
}

.app {
  font-size: 18px;
  font-weight: 600;
  color: #2c3030;
  text-transform: uppercase;
  letter-spacing: 1.9px;

  border-bottom: solid 2px $carbon-black;

  transition: all $dur-primary;

  &:hover {
    color: $dark-grey;
    border-bottom: solid 2px $dark-grey;
  }
}
