.header {
  display: flex;
  align-items: center;

  padding: 14px 34px;
  border-radius: 14px;
  background-color: $yellow-push;

  position: fixed;
  // top: 2%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 14px;
  transition: top 0.3s;
  width: 98%;
  z-index: 9999;
}

.logo {
  width: 110px;
  height: 40px;
}

.nav {
  display: none;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.nav__menu {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    height: auto;
    padding: 0 20px;
    gap: 14px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0;
    gap: 30px;
  }
}

.item a {
  font-size: 18px;
  font-weight: 600;
  color: $carbon-black;

  transition: all $dur-primary;

  &:hover {
    color: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.header__btn {
  display: none;
  font-size: 18px;
  font-weight: 600;
  color: $yellow-push;
  text-transform: uppercase;
  letter-spacing: 1.9px;

  background-color: $carbon-black;
  padding: 8px 20px;
  border-radius: 14px;
  // border-bottom: solid 2px $carbon-black;

  transition: all $dur-primary;

  &:hover {
    // color: $dark-grey;
    background-color: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

//burger
.modal__btn {
  display: block;
  background: $white;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 40px;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  .hb {
    margin: 0 auto;
    display: block;
    width: 40px;
    background-color: $yellow-push;
    border: none;
  }
}

//modal btn support
.modal-content-wrap.modal-support {
  width: 300px;
  padding: 20px 26px 26px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    padding: 40px 46px 56px;
    width: 540px;
  }
}

.modal-title-support {
  font-size: 18px;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    font-size: 32px;
  }
}

.modal__form-item {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid $grey;
  border-radius: 50px;

  @media screen and (min-width: $tablet) {
    height: 50px;
    font-size: 21px;
  }

  &:focus-visible {
    outline: 1px solid $carbon-black;
  }
}

.modal__form-textarea {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 24px 30px;
  border: 1px solid $grey;
  border-radius: 25px;

  @media screen and (min-width: $tablet) {
    border-radius: 50px;
    font-size: 21px;
    height: 150px;
  }

  &:focus-visible {
    outline: 1px solid $carbon-black;
  }
}

.modal__form-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
}

.modal__form-submit {
  font-size: 18px;
  width: 300px;
  padding: 16px;
  border-radius: 60px;
  background: $yellow-push;
  border: none;

  transition: all $dur-primary;

  &:hover {
    background: $yellow-light;
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
}

.modal__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
}

.modal__social-img {
  width: 40px;
  height: 40px;
  fill: $carbon-black;

  transition: all $dur-primary;

  &:hover {
    fill: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    width: 60px;
    height: 60px;
  }
}

.close .cls-1 {
  transition: all $dur-primary;

  &:hover {
    fill: $dark-grey;
  }
}
