.map__wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }

}

.map__map {
  border-radius: 20px;
  width: 460px;
  height: 540px;
  margin: 0 auto;
  
  @media screen and (min-width: $desktop) {
      width: 100%;
  }
}

.map__text {
  background: $blue-grey;
  padding: 50px;
  border-radius: 20px;
  max-width: 460px;
  margin: 0 auto;
}

.map__text-title {
    font-size: 36px;
    font-weight: 700;
    color: $white;
    line-height: 1.2;
    margin-bottom: 20px;
}

.map__text-name {
    font-size: 14px;
    margin-bottom: 8px;
}

.map__text-item {
  color: wheat;
}

.map__btn {
    font-size: 14px;
  font-weight: 600;
  color: $carbon-black;
  background-color: $yellow-push;
  border-radius: 15px;
  padding: 14px 50px;
  display: block;
  text-align: center;
  border: none;
  margin-top: 70px;

  transition: all $dur-primary;

  &:hover {
    background-color: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    padding: 10px 50px;
    font-size: 18px;
    width: 350px;
  }

  @media screen and (min-width: $desktop) {
    padding: 20px 10px;
    font-size: 20px;
    width: 360px;
  }
}