//modals services
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 340px;
  transition: transform 0.3s ease;

  @media screen and (min-width: $tablet) {
    width: 640px;
  }
}

.modal-content-wrap {
  padding: 24px 30px 30px;
  border-radius: 14px;
  background-color: $bright-grey;
  margin-bottom: 24px;
}

.modal.show {
  display: block;
  opacity: 1;
}

.close {
  width: 30px;
  height: 30px;
  fill: $carbon-black;
  transition: all $dur-primary;

  &:hover,
  &:focus {
    fill: $dark-grey;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    width: 45px;
    height: 45px;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 5px;
}

.modal-title {
  font-size: 22px;
  line-height: 1.1;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
}

.modal-text {
  font-size: 18px;
  font-weight: 700;
  color: $dark-grey;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.modal__btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.modal__btn-social {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  color: $carbon-black;
  text-align: center;
  font-size: 18px;
  max-width: 300px;
  padding: 10px;
  border-radius: 60px;
  background: $yellow-push;
  border: none;

  transition: all $dur-primary;

  &:hover,
  &:focus {
    background: $yellow-light;
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    width: 100%;
  }
}

.modal__icon-social {
  width: 41px;
  height: 32px;
}

.modal__btn-support {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: $yellow-push;
  text-align: center;
  font-size: 18px;
  max-width: 100%;
  padding: 14px;
  border-radius: 60px;
  background: $carbon-black;
  border: none;
  width: 100%;

  transition: all $dur-primary;

  &:hover,
  &:focus {
    background: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    width: 100%;
  }
}

//modal support
.modal-content-wrap.modal-support {
  width: 300px;
  padding: 20px 26px 26px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    padding: 40px 46px 56px;
    width: 540px;
  }
}

.modal-title-support {
  font-size: 18px;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    font-size: 32px;
  }
}

.modal__form-item {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid $grey;
  border-radius: 50px;

  @media screen and (min-width: $tablet) {
    height: 50px;
    font-size: 21px;
  }

  &:focus-visible {
    outline: 1px solid $carbon-black;
  }
}

.modal__form-textarea {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 24px 30px;
  border: 1px solid $grey;
  border-radius: 25px;

  @media screen and (min-width: $tablet) {
    border-radius: 50px;
    font-size: 21px;
    height: 150px;
  }

  &:focus-visible {
    outline: 1px solid $carbon-black;
  }
}

.modal__form-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
}

.modal__form-submit {
  font-size: 18px;
  width: 300px;
  padding: 16px;
  border-radius: 60px;
  color: $carbon-black;
  background: $yellow-push;
  border: none;

  transition: all $dur-primary;

  &:hover,
  &:focus {
    background: $yellow-light;
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
}

.modal__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
}

.modal__social-img {
  width: 40px;
  height: 40px;
  fill: $carbon-black;

  transition: all $dur-primary;

  &:hover,
  &:focus {
    fill: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    width: 60px;
    height: 60px;
  }
}

.close .cls-1 {
  transition: all $dur-primary;

  &:hover,
  &:focus {
    fill: $dark-grey;
  }
}
textarea {
}
