/* styles.css */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //   border: 1px solid #888;
  width: 340px;
  transition: transform 0.3s ease;
  //   transform: translateY(-50px);

  @media screen and (min-width: $tablet) {
    // margin-bottom: 20px;
    width: 640px;
  }
}

.modal-content-wrap {
  padding: 24px 30px 30px;
  border-radius: 14px;
  background-color: $bright-grey;
  margin-bottom: 24px;
}

.modal.show {
  display: block;
  opacity: 1;
}

// .modal.show .modal-content {
//   //   transform: translateY(0);
// }

.close {
  width: 40px;
  height: 40px;
  // background: $carbon-black;
  border-radius: 50%;
  color: #aaa;
  float: right;
  font-size: 38px;
  // font-weight: bold;

  transition: all $dur-primary;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (min-width: $tablet) {
    width: 45px;
    height: 45px;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  // align-items: baseline;

  margin-bottom: 5px;
}

.modal-title {
  font-size: 22px;
  line-height: 1.1;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
}

.modal-text {
  font-size: 18px;
  font-weight: 700;
  color: $dark-grey;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
}

.modal__btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.modal__btn-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: $carbon-black;
  text-align: center;
  font-size: 18px;
  max-width: 300px;
  padding: 10px;
  border-radius: 60px;
  background: $yellow-push;
  border: none;

  transition: all $dur-primary;

  &:hover {
    background: $yellow-light;
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    width: 100%;
  }
}

.modal__icon-social {
  width: 41px;
  height: 32px;

  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 32px;
  }
}

.modal__btn-support {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: $yellow-push;
  text-align: center;
  font-size: 18px;
  max-width: 100%;
  padding: 10px;
  border-radius: 60px;
  background: $carbon-black;
  border: none;
  width: 100%;

  transition: all $dur-primary;

  &:hover {
    background: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    width: 100%;
    // height: 32px;
  }
}
