.ticker__wrap {
  display: flex;
  overflow-x: hidden;
}

.ticker__item {
  font-size: 32px;
  color: $yellow-push;
  line-height: 1.3;
  padding: 10px 0;
  white-space: nowrap;
  display: inline-block;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 52px;
  }
}

.item1 {
  animation: marquee1 100s infinite linear;
  animation-delay: -100s;
}

.item2 {
  animation: marquee2 100s infinite linear;
  animation-delay: -50s;
}

// div:after {
//   content: 'Привет! Я бегущая строка ';
// }

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
