<section class="container" id="about">
  <h2 class="about__title-wrap">Про компанію</h2>
  <div class="about__wrap">
    <div class="about__text about__item">
      <p class="about__title">
        Про <br />
        компанію
      </p>
      <p class="about__text-item">
        КИТ Group — міжнародна fintech-компанія та один із лідерів фінансових послуг в Україні. Ми працюємо в 20+
        обласних центрах і за межами України, маючи понад 90 відділень обміну валют.
      </p>

      <p class="about__text-item2">
        КИТ щодня допомагає тисячам клієнтів з переказами, обміном валют і отриманням готівки. Ми працюємо з усіма
        валютами світу та забезпечуємо високий рівень обслуговування. Долучайтеся до нас і відчуйте переваги співпраці з
        надійним фінансовим партнером!
      </p>
    </div>

    <div class="video-container">
      <video
        class="about__video"
        id="myVideo"
        autoplay
        muted
        loop
        playsinline
        height="540px"
        width="890px"
        poster="images/poster.jpg"
      >
        <source src="https://dp.kitgroup.ua/video/kit.mp4" type="video/mp4" />
      </video>

      <!--  Video button -->
      <div class="controls">
        <button id="togglePlay" class="control-btn">
          <i class="fas fa-pause"></i>
        </button>
        <button id="toggleSound" class="control-btn">
          <i class="fas fa-volume-mute"></i>
        </button>
      </div>
    </div>
  </div>

  <ul class="about__list">
    <li class="about__list-item">Наші переваги</li>
    <li class="about__list-item">
      <span>90+</span>
      <p>Відділень в Україні</p>
    </li>
    <li class="about__list-item">
      <span>35m</span>
      <p>Операцій</p>
    </li>
    <li class="about__list-item">
      <span>15+</span>
      <p>Років на ринку</p>
    </li>
    <li class="about__list-item">
      <span>800+</span>
      <p>Менеджерів обміну</p>
    </li>
    <li class="about__list-item">
      <span>30k</span>
      <p>Постійних клієнтів</p>
    </li>
    <li class="about__list-item"></li>
  </ul>
</section>
