<section class="container">
  <h2 class="about__title">Корисні штуки</h2>
  <p class="about__text">
    Кит допомогає зручніше працювати з готівковими та безготівковими грошима. Ми надаємо послуги обміну валюти,
    зберігання та конвертації балансів.
  </p>
  <ul class="about__list">
    <li class="about__item">
      <h3 class="about__item-title">Обмін</h3>
      <p class="about__item-text">
        Кит—це фінансовий оператор, який допомогає зручніше працювати з готівковими та безготівковими грошима. Ми
        надаємо послуги обміну валюти, зберігання ат конвертації балансів
      </p>
      <div class="about__item-wrap">
        <a class="about__list-btn" href="#">Детальніше</a>
      </div>
    </li>
    <li class="about__item">
      <h3 class="about__item-title">Перекази у країні</h3>
      <p class="about__item-text">
        Кит—це фінансовий оператор, який допомогає зручніше працювати з готівковими та безготівковими грошима. Ми
        надаємо послуги обміну валюти, зберігання ат конвертації балансів
      </p>
      <div class="about__item-wrap">
        <a class="about__list-btn" href="#">Детальніше</a>
      </div>
    </li>
    <li class="about__item">
      <h3 class="about__item-title">Операції з драг металами</h3>
      <p class="about__item-text">
        Кит—це фінансовий оператор, який допомогає зручніше працювати з готівковими та безготівковими грошима. Ми
        надаємо послуги обміну валюти, зберігання ат конвертації балансів
      </p>
      <div class="about__item-wrap">
        <a class="about__list-btn" href="#">Детальніше</a>
      </div>
    </li>
  </ul>
</section>
