<section class="container" id="about">
  <!-- <h2 class="about__title">Про компанію</h2> -->
  <div class="about__wrap">
    <p class="about__text about__item">
      <span class="about__title">Про компанію</span>
      КИТ group - перевірений постачальник фінансових операцій. Ми відкрили офіси у 24-х містах України, а також за її
      межами. КИТ Group щодня допомагає тисячам клієнтів здійснювати перекази, обмін валют, видачу готівки/прийом
      безготівкових переказів. Ми працюємо з будь-якими валютами світу і забезпечуємо найвищий рівень обслуговування.
      Долучайтеся до нас сьогодні та відчуйте переваги співпраці з надійним фінансовим партнером!
    </p>
    <div class="about__img">
      <img class="about__img-item" src="/images/ukr.png" alt="ukraine" width="300" />
    </div>
  </div>
  <!-- <ul class="about__list">
    <li class="about__item">
      <h3 class="about__item-title">Обмін</h3>
      <p class="about__item-text">
        Кит—це фінансовий оператор, який допомогає зручніше працювати з готівковими та безготівковими грошима. Ми
        надаємо послуги обміну валюти, зберігання ат конвертації балансів
      </p>
      <div class="about__item-wrap">
        <a class="about__list-btn" href="#">Детальніше</a>
      </div>
    </li>
    <li class="about__item">
      <h3 class="about__item-title">Перекази у країні</h3>
      <p class="about__item-text">
        Кит—це фінансовий оператор, який допомогає зручніше працювати з готівковими та безготівковими грошима. Ми
        надаємо послуги обміну валюти, зберігання ат конвертації балансів
      </p>
      <div class="about__item-wrap">
        <a class="about__list-btn" href="#">Детальніше</a>
      </div>
    </li>
    <li class="about__item">
      <h3 class="about__item-title">Операції з драг металами</h3>
      <p class="about__item-text">
        Кит—це фінансовий оператор, який допомогає зручніше працювати з готівковими та безготівковими грошима. Ми
        надаємо послуги обміну валюти, зберігання ат конвертації балансів
      </p>
      <div class="about__item-wrap">
        <a class="about__list-btn" href="#">Детальніше</a>
      </div>
    </li>
  </ul> -->
</section>
