<section class="container">
  <h2 class="advart__title">Переваги роботи з нами</h2>
  <ul class="advart__list">
    <li class="advart__list-item">Будь-яка валюта. Гривні, злоті, долари, євро та 30+ різних.</li>
    <li class="advart__list-item">Потрібна готівка? Електронні за готівку - без проблем.</li>
    <li class="advart__list-item">
      Операції для всіх: не відмовимо в обміні невеликої суми й оперативно виконаємо об'ємний переказ.
    </li>
    <li class="advart__list-item">
      Повна анонімність. Не ставимо запитань про походження та напрямок коштів. Особистий менеджер запитує тільки
      необхідну для переказу інформацію.
    </li>
    <li class="advart__list-item">Велика кількість точок видачі та приймання.</li>
    <li class="advart__list-item">Можливість замовлення інкасації</li>
    <li class="advart__list-item">Приймаємо старі купюри. Старі гроші - теж гроші!</li>
  </ul>
</section>
