<section class="container">
  <h2 class="advart__title">Найчастіші запитання:</h2>
  <div class="accordion">
    <div class="accordion-item">
      <button class="accordion-header">
        <div>Як обміняти валюту?</div>
        <div>
          <img src="/images/open.svg" alt="Closed icon" class="icon-closed" />
          <img src="/images/closed.svg" alt="Open icon" class="icon-open" />
        </div>
      </button>
      <div class="accordion-content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod labore cumque amet corporis ut eius. Possimus
          ducimus maiores nihil sint perspiciatis consectetur harum hic cupiditate. Maiores impedit ratione voluptas ea.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button class="accordion-header">
        <div>Як придбати золото?</div>
        <div>
          <img src="/images/open.svg" alt="Closed icon" class="icon-closed" />
          <img src="/images/closed.svg" alt="Open icon" class="icon-open" />
        </div>
      </button>
      <div class="accordion-content">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus exercitationem architecto nisi
          debitis quis aperiam obcaecati ipsum odio ex assumenda ea tempora dolorem neque, impedit error labore
          explicabo laborum vel.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button class="accordion-header">
        <div>Як зробити переказ?</div>

        <div>
          <img src="/images/open.svg" alt="Closed icon" class="icon-closed" />
          <img src="/images/closed.svg" alt="Open icon" class="icon-open" />
        </div>
      </button>
      <div class="accordion-content">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae tenetur dolor perspiciatis, omnis
          exercitationem amet nulla accusantium voluptates incidunt beatae, magni atque blanditiis id, dolore commodi!
          Quaerat ipsa assumenda cupiditate?
        </p>
      </div>
    </div>
  </div>
</section>
