<footer class="footer__wrap" id="footer">
  <div class="container footer">
    <ul class="footer__list">
      <li>
        <a href="/">
          <svg class="footer__logo">
            <use href="/images/sprite.svg#logo"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__link" href=" #">
          <p>Компанія Кит</p>
        </a>
        <a class="footer__link" href="./privacy-policy.html" target="_blank">
          <p>Політика конфіденційності</p>
        </a>
        <div class="footer__address">
          <p class="footer__address-item">Дніпро - просп. Д. Яворницького, 88;</p>
          <p class="footer__address-item">Дніпро - вул. Мостова, 2; (Центральний)</p>
          <p class="footer__address-item">Кривий - ріг - просп. Центральний, 4;</p>
        </div>
      </li>
    </ul>
    <div class="footer__list-wrap">
      <ul class="footer__social">
        <li>
          <p class="footer__social-title">Актуальні новини</p>
        </li>
        <li>
          <a class="footer__social-btn" href="https://t.me/obmenka_dneprua" target="_blank">
            <svg class="footer__social-img">
              <use href="/images/sprite.svg#icon-telegram"></use>
            </svg>
            <p>Telegram</p>
          </a>
        </li>
        <li>
          <a class="footer__social-btn" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
            <svg class="footer__social-img">
              <use href="/images/sprite.svg#icon-instagram"></use>
            </svg>
            <p>Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
