<footer class="container footer" id="footer">
  <ul class="footer-list">
    <li>
      <a href="/#">
        <img class="logo" src="/images/logo.svg" alt="logo" height="37" width="100" />
      </a>
    </li>
    <li>
      <a class="footer__link" href=" #">
        <p>Компанія Кит</p>
      </a>
    </li>
    <li>
      <a class="footer__link" href="./privacy-policy.html" target="_blank">
        <p>Політика конфіденційності</p>
      </a>
    </li>
    <li class="footer-text">
      <p>0 800 33 18 27</p>
    </li>
  </ul>
  <div class="footer-list-wrap">
    <ul class="footer-list-address">
      <li>м. Дніпро просп. Д. Яворницького, 88 м. Вокзальна, 0800331827, Пн-Нд 09:00-18:00</li>
      <li>м. Дніпро вул. Мостова, 2 (Центральний район), 0800331827, Пн-Нд 09:00-18:00</li>
    </ul>
    <ul class="modal__social">
      <li>
        <a href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__social-img">
            <use href="/images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__social-img">
            <use href="/images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
