<header data-overlay class="container header">
  <a href="#">
    <img class="nav__img" src="/images/logo.svg" alt="logo" height="37" width="100" />
  </a>
  <nav class="nav">
    <ul class="nav__menu">
      <li class="item"><a href="#">Послуги</a></li>
      <li class="item"><a href="#">Компанія</a></li>
      <li class="item"><a href="#">Карʼєра</a></li>
      <li class="item"><a href="#">Філіали</a></li>
      <li class="item"><a href="#">Новини</a></li>
      <li class="item"><a href="#">Контакти</a></li>
    </ul>
  </nav>
  <a class="app" href="#">Kytapp</a>
</header>
