<section>
  <header data-overlay class="container header">
    <a href="#">
      <img class="logo" src="/images/logo.svg" alt="logo" height="37" width="100" />
    </a>
    <nav class="nav">
      <ul class="nav__menu">
        <li class="item"><a href="#">Послуги</a></li>
        <li class="item"><a href="#about">Компанія</a></li>
        <li class="item"><a href="#">Питання</a></li>
        <!-- <li class="item"><a href="#">Відгуки</a></li> -->
        <li class="item"><a href="#footer">Контакти</a></li>
      </ul>
    </nav>
    <a class="services-btn header__btn" href="#" data-modal="modal7">Підтримка</a>
    <button class="modal__btn js-open-menu">
      <load ="./burger/icon.html" />
    </button>
    <load ="./burger/menu.html" />
  </header>
</section>
