<header data-overlay class="header">
  <a href="#">
    <img class="logo" src="/images/logo.svg" alt="logo" height="37" width="100" />
  </a>
  <nav class="nav">
    <ul class="nav__menu">
      <li class="item"><a href="#">Послуги</a></li>
      <li class="item"><a href="#">Компанія</a></li>
      <li class="item"><a href="#">Карʼєра</a></li>
      <li class="item"><a href="#">Філіали</a></li>
      <li class="item"><a href="#">Новини</a></li>
      <li class="item"><a href="#">Контакти</a></li>
    </ul>
  </nav>
  <a class="app" href="#">Kytapp</a>
  <button class="modal__btn js-open-menu">
    <load ="./burger/icon.html" />
  </button>
  <load ="./burger/menu.html" />
</header>
