<section class="container">
  <div class="hero">
    <h1 class="hero__title">КИТ Group - Обмінюйте. Надсилайте. Отримуйте. Миттєво і без кордонів</h1>
    <!-- <a class="hero__btn" href="#">Вибрати послугу</a> -->
  </div>
  <div class="services-wrap">
    <ul class="services">
      <li>
        <div>
          <a class="services-btn services__btn" href="#" data-modal="modal1">Обмін валют</a>
        </div>
      </li>
      <li>
        <div>
          <a class="services-btn services__btn" href="#" data-modal="modal2">Перекази по Україні</a>
        </div>
      </li>
      <li>
        <div>
          <a class="services-btn services__btn" href="#" data-modal="modal3">Купівля золота</a>
        </div>
      </li>
      <li>
        <div>
          <a class="services-btn services__btn" href="#" data-modal="modal4">Обмін криптовалюти</a>
        </div>
      </li>
      <li>
        <div>
          <a class="services-btn services__btn" href="#" data-modal="modal5">Перекази за кордон</a>
        </div>
      </li>
      <li>
        <div>
          <a class="services-btn services__btn" href="#" data-modal="modal6">Інша задача</a>
        </div>
      </li>
    </ul>
  </div>

  <!-- Modals -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Обмін валют</h3>
        <span class="close" data-modal="modal1">&times;</span>
      </div>
      <p class="modal-text">
        Широкий вибір валюти на будь-який запит – від доларів до рупій. Персональний менеджер вже чекає на ваш запит,
        виберіть зручний месенджер:
      </p>
      <ul class="modal__social">
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/facebook.svg" alt="facebook" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/instagram.svg" alt="instagram" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/linkedin.svg" alt="linkedin" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"><img class="modal__social-img" src="/images/x.svg" alt="x" width="38 " height="38" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Перекази по Україні</h3>
        <span class="close" data-modal="modal2">&times;</span>
      </div>
      <p class="modal-text">
        Миттєві перекази без паперової тяганини. Персональний менеджер вже чекає на ваш запит, виберіть зручний
        месенджер:
      </p>
      <ul class="modal__social">
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/facebook.svg" alt="facebook" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/instagram.svg" alt="instagram" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/linkedin.svg" alt="linkedin" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"><img class="modal__social-img" src="/images/x.svg" alt="x" width="38 " height="38" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div id="modal3" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Купівля золота</h3>
        <span class="close" data-modal="modal3">&times;</span>
      </div>
      <p class="modal-text">
        Ми купуємо і продаємо золоті злитки за офіційними банківськими курсами. Персональний менеджер вже чекає на ваш
        запит, виберіть зручний месенджер:
      </p>
      <ul class="modal__social">
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/facebook.svg" alt="facebook" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/instagram.svg" alt="instagram" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/linkedin.svg" alt="linkedin" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"><img class="modal__social-img" src="/images/x.svg" alt="x" width="38 " height="38" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div id="modal4" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Обмін криптовалюти</h3>
        <span class="close" data-modal="modal4">&times;</span>
      </div>
      <p class="modal-text">
        Обмін крипти на валюту. Обмін крипти за кордоном. Персональний менеджер вже чекає на ваш запит, виберіть зручний
        месенджер:
      </p>
      <ul class="modal__social">
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/facebook.svg" alt="facebook" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/instagram.svg" alt="instagram" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/linkedin.svg" alt="linkedin" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"><img class="modal__social-img" src="/images/x.svg" alt="x" width="38 " height="38" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div id="modal5" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Перекази за кордон</h3>
        <span class="close" data-modal="modal5">&times;</span>
      </div>
      <p class="modal-text">
        Ми працюємо по всьому світу. Персональний менеджер вже чекає на ваш запит, виберіть зручний месенджер:
      </p>
      <ul class="modal__social">
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/facebook.svg" alt="facebook" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/instagram.svg" alt="instagram" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/linkedin.svg" alt="linkedin" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"><img class="modal__social-img" src="/images/x.svg" alt="x" width="38 " height="38" /></a>
        </li>
      </ul>
    </div>
  </div>

  <div id="modal6" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Інша задача</h3>
        <span class="close" data-modal="modal6">&times;</span>
      </div>
      <p class="modal-text">
        Ми допоможемо знайти рішення на будь-який запит. Персональний менеджер вже чекає на вас, виберіть зручний
        месенджер:
      </p>
      <ul class="modal__social">
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/facebook.svg" alt="facebook" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/instagram.svg" alt="instagram" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img class="modal__social-img" src="/images/linkedin.svg" alt="linkedin" width="38" height="38"
          /></a>
        </li>
        <li>
          <a href="#"><img class="modal__social-img" src="/images/x.svg" alt="x" width="38 " height="38" /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
