<div class="wrap">
  <section class="container">
    <div class="hero">
      <h1 class="hero__title">Надійний фінансовий партнер з 15-річним досвідом</h1>
    </div>
    <div class="services-wrap">
      <ul class="services">
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal1">Обмін валют</a>
          </div>
        </li>
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal2">Перекази по Україні</a>
          </div>
        </li>
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal3">Купівля золота</a>
          </div>
        </li>
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal5">Перекази за кордон</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>