<!-- <div class="wrap" style="background-image: url(/images/hero-new.png)"> -->
<div class="wrap">
  <section class="container">
    <div class="hero">
      <h1 class="hero__title">Надійний фінансовий партнер з 15-річним досвідом</h1>
    </div>
    <div class="services-wrap">
      <ul class="services">
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal1">Обмін валют</a>
          </div>
        </li>
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal2">Перекази по Україні</a>
          </div>
        </li>
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal3">Купівля золота</a>
          </div>
        </li>
        <li>
          <div>
            <a class="services-btn services__btn" href="#" data-modal="modal5">Перекази за кордон</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="hero__mouse">
      <button class="services-btn hero__mouse-btn" data-modal="modal8">
        Ми передзвонимо
        <svg class="header__btn-img">
          <use href="/images/sprite.svg#call"></use>
        </svg>
      </button>
    </div> -->
    <!-- <img src="/images/mouse-arrow.png" alt="mouse arrow" /> -->
  </section>
</div>