<!-- modals services-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Обмін валют</h3>
        <svg class="close" data-modal="modal1">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Широкий вибір валюти на будь-який запит – від доларів до рупій. Відділення пунктів обміну в 24-х містах України
        та за її межами.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social obmin_valut telegram"
          href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdHwxfDF8Mnww"
          target="_blank"
          data-event="form_send"
          data-service="obmin_valut"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social obmin_valut instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="obmin_valut"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support obmin_valut form" data-modal="modal7" data-service="obmin_valut">Зв’язатися з менеджером</button>
      <!-- <a
        href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA=="
        target="_blank"
        class="modal__btn-support"
        data-service="obmin_valut"
        >Зв’язатися з менеджером</a
      > -->
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Перекази по Україні</h3>
        <svg class="close" data-modal="modal2">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">Миттєві перекази без паперової тяганини. Тарифи на будь-який смак.</p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social perekazy_uk telegram"
          href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdHwxfDF8NHww"
          target="_blank"
          data-event="form_send"
          data-service="perekazy_uk"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social perekazy_uk instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="perekazy_uk"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support perekazy form" data-modal="modal7" data-service="perekazy_uk">Зв’язатися з менеджером</button>
      <!-- <a
        href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA=="
        target="_blank"
        class="modal__btn-support"
        data-service="perekazy_uk"
        >Зв’язатися з менеджером</a
      > -->
    </div>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Купівля золота</h3>
        <svg class="close" data-modal="modal3">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Ми купуємо і продаємо золоті злитки за офіційними банківськими курсами. Професійні консультації на всіх етапах
        угоди.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social buy_gold telegram"
          href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdHwxfDF8OXww"
          target="_blank"
          data-event="form_send"
          data-service="buy_gold"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social buy_gold instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="buy_gold"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support buy_gold form" data-modal="modal7" data-service="buy_gold">Зв’язатися з менеджером</button>
      <!-- <a
        href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA=="
        target="_blank"
        class="modal__btn-support"
        data-service="buy_gold"
        >Зв’язатися з менеджером</a
      > -->
    </div>
  </div>
</div>

<div id="modal5" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Перекази за кордон</h3>
        <svg class="close" data-modal="modal5">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Ми працюємо по всьому світу. Швидко, якісно, надійно. Найвищі стандарти безпеки та конфіденційності.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social perekazu_abroad telegram"
          href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdHwxfDF8MXww"
          target="_blank"
          data-event="form_send"
          data-service="perekazu_abroad"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social perekazu_abroad instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="perekazu_abroad"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support perekazu_abroad form" data-modal="modal7" data-service="perekazu_abroad">
        Зв’язатися з менеджером
      </button>
      <!-- <a
        href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA=="
        target="_blank"
        class="modal__btn-support"
        data-service="perekazu_abroad"
        >Зв’язатися з менеджером</a
      > -->
    </div>
  </div>
</div>

<!-- modal support-->
<div id="modal7" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap modal-support">
      <div class="modal-header">
        <h3 class="modal-title-support">Менеджер вже готовий Вам допомогти</h3>
        <div>
          <svg class="close modal__icon-close" data-modal="modal7">
            <use href="/images/sprite.svg#close"></use>
          </svg>
        </div>
      </div>
      <!-- <form action="modal-form" id="support-form" data-event="form_send" data-service="pidtrumka" data-type="form"> -->
      <!-- onsubmit="send(event, 'send.php')" -->
      <form
        action="send.php"
        method="post"
        id="support-form"
        data-event="form_send"
        data-service="pidtrumka"
        data-type="form"
      >
        <div>
          <input class="modal__form-item" type="text" name="name" required placeholder="Ваше ім’я" />
        </div>
        <div>
          <input class="modal__form-item" type="email" name="email" required placeholder="Пошта" />
        </div>
        <div>
          <input class="modal__form-item" type="tel" name="tel" required placeholder="Номер телефону" />
        </div>
        <div>
          <textarea class="modal__form-textarea" name="textarea" placeholder="Ваш запит..."></textarea>
        </div>
        <div class="modal__form-btn">
          <button type="submit" class="modal__form-submit">Надіслати</button>
          <ul class="modal__social">
            <li>
              <a
                id="social-telegram"
                href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA=="
                target="_blank"
                data-event="form_send"
                data-service="pidtrumka"
                data-type="telegram"
              >
                <svg class="modal__social-img">
                  <use href="/images/sprite.svg#icon-telegram-m"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                id="social-instagram"
                href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
                target="_blank"
                data-event="form_send"
                data-service="pidtrumka"
                data-type="instagram"
              >
                <svg class="modal__social-img">
                  <use href="/images/sprite.svg#icon-instagram-m"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
