<!-- modals services-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Обмін валют</h3>
        <svg class="close" data-modal="modal1">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Широкий вибір валюти на будь-який запит – від доларів до рупій. Відділення пунктів обміну в 24-х містах України
        та за її межами.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a class="modal__btn-social" href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div class="form_send obmin_valut telegram">Telegram</div>
        </a>
        <a class="modal__btn-social" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div class="form_send obmin_valut instagram">Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support obmin_valut form" data-modal="modal7">Зв’язатися з менеджером</button>
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Перекази по Україні</h3>
        <svg class="close" data-modal="modal2">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">Миттєві перекази без паперової тяганини. Тарифи на будь-який смак.</p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a class="modal__btn-social" href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div class="form_send perekazy_uk telegram">Telegram</div>
        </a>
        <a class="modal__btn-social" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div class="form_send perekazy_uk instagram">Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support perekazy form" data-modal="modal7">Зв’язатися з менеджером</button>
    </div>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Купівля золота</h3>
        <svg class="close" data-modal="modal3">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Ми купуємо і продаємо золоті злитки за офіційними банківськими курсами. Професійні консультації на всіх етапах
        угоди.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a class="modal__btn-social" href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div class="form_send buy_gold telegram">Telegram</div>
        </a>
        <a class="modal__btn-social" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div class="form_send buy_gold instagram">Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support buy_gold form" data-modal="modal7">Зв’язатися з менеджером</button>
    </div>
  </div>
</div>

<div id="modal4" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Обмін криптовалюти</h3>
        <svg class="close" data-modal="modal4">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">Обмін крипти на валюту. Обмін крипти за кордоном. Безпечна доставка кешу.</p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a class="modal__btn-social" href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div class="form_send kripta telegram">Telegram</div>
        </a>
        <a class="modal__btn-social" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div class="form_send kripta instagram">Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support kripta form" data-modal="modal7">Зв’язатися з менеджером</button>
    </div>
  </div>
</div>

<div id="modal5" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Перекази за кордон</h3>
        <svg class="close" data-modal="modal5">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Ми працюємо по всьому світу. Швидко, якісно, надійно. Найвищі стандарти безпеки та конфіденційності.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a class="modal__btn-social" href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div class="form_send perekazu_abroad telegram">Telegram</div>
        </a>
        <a class="modal__btn-social" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div class="form_send perekazu_abroad instagram">Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support perekazu_abroad form" data-modal="modal7">Зв’язатися з менеджером</button>
    </div>
  </div>
</div>

<div id="modal6" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Інша задача</h3>
        <svg class="close" data-modal="modal6">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">Ми допоможемо знайти рішення на будь-який запит.</p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a class="modal__btn-social" href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div class="form_send task telegram">Telegram</div>
        </a>
        <a class="modal__btn-social" href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div class="form_send task instagram">Instagram</div>
        </a>
      </div>
      <button class="modal__btn-support task form" data-modal="modal7">Зв’язатися з менеджером</button>
    </div>
  </div>
</div>

<!-- modal support-->
<div id="modal7" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap modal-support">
      <div class="modal-header">
        <h3 class="modal-title-support">Менеджер вже готовий Вам допомогти</h3>
        <div>
          <svg class="close modal__icon-close" data-modal="modal7">
            <use href="/images/sprite.svg#close"></use>
          </svg>
        </div>
      </div>
      <form action="modal-form" id="support-form" class="form_send pidtrumka form">
        <div>
          <input class="modal__form-item" type="text" name="name" required id="" placeholder="Ваше ім’я" />
        </div>
        <div>
          <input class="modal__form-item" type="email" name="email" required id="" placeholder="Пошта" />
        </div>
        <div>
          <input class="modal__form-item" type="tel" name="tel" required id="" placeholder="Номер телефону" />
        </div>
        <div>
          <textarea class="modal__form-textarea" name="textarea" id="" placeholder="Ваш запит..."></textarea>
        </div>
        <div class="modal__form-btn">
          <button type="submit" class="modal__form-submit">Надіслати</button>
          <ul class="modal__social">
            <li>
              <a href="https://t.me/KitGroupSupport_Bot?start=QW5hc3RhczFhX0tpdA==" target="_blank">
                <svg class="modal__social-img">
                  <use href="/images/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy" target="_blank">
                <svg class="modal__social-img">
                  <use href="/images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
