<!-- modals services-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Обмін валют</h3>
        <svg class="close" data-modal="modal1">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Широкий вибір валюти на будь-який запит – від доларів до рупій. Відділення пунктів обміну в 24-х містах України
        та за її межами.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social obmin_valut telegram"
          href="https://t.me/kytconnectbot?start=V2VsY29tZUtpdF8yfDF8OXwyfDYx"
          target="_blank"
          data-event="form_send"
          data-service="obmin_valut"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social obmin_valut instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="obmin_valut"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Перекази по Україні</h3>
        <svg class="close" data-modal="modal2">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">Миттєві перекази без паперової тяганини. Тарифи на будь-який смак.</p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social perekazy_uk telegram"
          href="https://t.me/kytconnectbot?start=V2VsY29tZUtpdF8yfDF8OXw0fDYy"
          target="_blank"
          data-event="form_send"
          data-service="perekazy_uk"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social perekazy_uk instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="perekazy_uk"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Купівля золота</h3>
        <svg class="close" data-modal="modal3">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Ми купуємо і продаємо золоті злитки за офіційними банківськими курсами. Професійні консультації на всіх етапах
        угоди.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social buy_gold telegram"
          href="https://t.me/kytconnectbot?start=V2VsY29tZUtpdF8zfDF8OXw5fDYz"
          target="_blank"
          data-event="form_send"
          data-service="buy_gold"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social buy_gold instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="buy_gold"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="modal5" class="modal">
  <div class="modal-content">
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">Перекази за кордон</h3>
        <svg class="close" data-modal="modal5">
          <use href="/images/sprite.svg#close"></use>
        </svg>
      </div>
      <p class="modal-text">
        Ми працюємо по всьому світу. Швидко, якісно, надійно. Найвищі стандарти безпеки та конфіденційності.
      </p>
    </div>
    <div class="modal-content-wrap">
      <div class="modal-header">
        <h3 class="modal-title">
          Наш менеджер вже готовий <br />
          Вам допомогти
        </h3>
      </div>
      <p class="modal-text">Оберіть зручний месенджер</p>
      <div class="modal__btn-wrap">
        <a
          class="modal__btn-social perekazu_abroad telegram"
          href="https://t.me/kytconnectbot?start=V2VsY29tZUtpdF8zfDF8OXw2fDY0"
          target="_blank"
          data-event="form_send"
          data-service="perekazu_abroad"
          data-type="telegram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#telegram-s"></use>
          </svg>
          <div>Telegram</div>
        </a>
        <a
          class="modal__btn-social perekazu_abroad instagram"
          href="https://www.instagram.com/kyt.group?igsh=eHh1MHR0MWxkOWRy"
          target="_blank"
          data-event="form_send"
          data-service="perekazu_abroad"
          data-type="instagram"
        >
          <svg class="modal__icon-social">
            <use href="/images/sprite.svg#instagram-s"></use>
          </svg>
          <div>Instagram</div>
        </a>
      </div>
    </div>
  </div>
</div>
