<div class="ticker__wrap">
  <div class="ticker__item item1">
    Без прихованих комісій. Гарантія безпеки фінансів. Анонімність операцій. Гнучкі умови. Офіси в 24 містах. Будь-яка
    валюта. Персональний менеджер. Видача готівки. Робота в Україні та за кордоном.
  </div>
  <div class="ticker__item item2">
    Без прихованих комісій. Гарантія безпеки фінансів. Анонімність операцій. Гнучкі умови. Офіси в 24 містах. Будь-яка
    валюта. Персональний менеджер. Видача готівки. Робота в Україні та за кордоном.
  </div>
</div>
