<div class="js-menu-container">
  <ul class="modal__menu">
    <li class="item"><a href="/">Послуги</a></li>
    <li class="item"><a href="/#about">Компанія</a></li>
    <li class="item"><a href="/#footer">Відділення</a></li>
    <li class="item"><a href="#faq">Питання</a></li>
    <li class="item">
      <a class="app__mob" href="tel:0800331847" data-modal="modal7" target="_blank"
        >Подзвонити
        <svg class="header__btn-img">
          <use href="/images/sprite.svg#call"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
