<div class="js-menu-container">
  <ul class="modal__menu">
    <li class="item"><a href="./">Послуги</a></li>
    <li class="item"><a href="./#about">Компанія</a></li>
    <li class="item"><a href="./#map">Відділення</a></li>
    <li class="item"><a href="./#faq">Питання</a></li>
    <li class="item">
      <a class="app__mob" href="tel:0800331259" data-modal="modal7" target="_blank"
        >Подзвонити
        <svg class="header__btn-img">
          <use href="/images/sprite.svg#call"></use>
        </svg>
      </a>
      <a class="app__mob telegram" href="https://t.me/kytconnectbot?start=V2VsY29tZUtpdF8yfDF8OXwwfDA=" target="_blank"
        >Чат-бот
        <svg class="header__btn-img telegram">
          <use href="/images/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
